
<div [hidden]="submitted" style=" background-color: #dbdbff ;width: 650px">
  <h3 style="font-size: 25px;font-family: 'Arial ';color: #0b080f" >ENTRY OF ITEMS</h3>
  <form (ngSubmit)="onSubmit()">

    <div>
      <select name="selectedItem" id="item"  class="form-control" [(ngModel)]="selectedItem">
        <option *ngFor="let option of itemList" [value]="option.id">{{option.item}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="text" class="form-control" id="quantity" required [(ngModel)]="item.quantity" name="quantity">

    </div>


    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" required [(ngModel)]="item.price" name="price">
    </div>

    <div class="form-group">
      <label for="price">Size</label>
      <input type="text" class="form-control" id="size" required [(ngModel)]="item.size" name="size">
    </div>



    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
